.lightbox-images {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000, 0.8);
  display: none;
  z-index: 2000;

  img {
    max-width: 90%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (min-width: $bp-md) {
      max-width: 70%;
      max-height: 80%;

      @media screen and (min-width: $bp-xl) {
        max-width: 40%;
        max-height: 80%;
      }
    }
  }
}
