$ctm-primary: #ededed;
$ctm-secondary: #111010;
$ctm-secondary-v2: #1d1d1d;
$ctm-accent: #f0b56f;

$ff-body: "Source Sans Pro", sans-serif;
$ff-focus: "Bebas Neue", cursive;
$ff-added: "Alice", serif;

$bp-xm: 36rem;
$bp-md: 48rem;
$bp-lg: 62rem;
$bp-xl: 75rem;
$bp-xxl: 87.5rem;
